.Form{
    position: absolute;
    top: 25vh;
    background: white;
    padding: 15px 0;
    border-radius: 10px;
    border: 1px solid lightgray;
    box-shadow: 0 0 10px #C0C0C0;
}

.Form-input {
    height: 38px;
    width: 97%;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #f5f6f7;
    border: 1px solid lightgray;
    border-radius: 4px;
    padding-left: 20px;
}

.Form-submit {
    background-color: lightskyblue;
    height: 38px;
    width: 30%;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
}

.Form-submit:hover{
    background-color: #34aeeb;
}