.Navbar-element {
    padding: 0 0 2px 0 !important;
    margin: 10px;
}

.Navbar-active{
    border-bottom: 3px solid #2ec0ff !important;
}

.Navbar-navbar{
    background-color: #ffffff!important;
    font-weight: 400;
    font-size: 1.25rem;
}

.Navbar-img{
    height: 30px;
    width: auto;
}

.Navbar-navlink {
    color: black;
}

.Navbar-navlink:hover {
    text-decoration: none;
    color: black;
    border-bottom: 3px solid #2ec0ff !important;
}